*{
  font-family: Poppins;
  color: #25272F;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #489C9C;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  color: #489C9C;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.sidebar-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.sidebar {
  width: 290px;
  background-color: white;
  padding: 1rem;
  overflow-y: auto;
  border-right: 1px black solid;
  transition: transform 0.3s ease-in-out;
}

.sidebar-toggle-inline {
  width: 2vw;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.25rem;
  height: 2vw;
  border-left: 1px solid #ccc;
  transition: background 0.2s;
}

.layout.sidebar-closed .sidebar-wrapper .sidebar {
  transform: translateX(-100%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.layout.sidebar-closed .sidebar-wrapper .sidebar-toggle-inline {
  position: absolute;
  left: 0;
  top: 0;
  height: 2vw;
}

.layout {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.page-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;      
  align-items: flex-start;      
  padding: 2rem;
  background-color: #f4f4f4;
  overflow-y: auto;
  box-sizing: border-box;
}

.article-container {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
}

.article-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article-container img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1.5rem auto;
  display: block
}

.article-container em {
  display: block;
  font-size: 0.9rem;
  color: #666;
  margin-top: 1rem;
}

.site-header {
  width: 100vw;
  background-color: white;
  color: white;
  padding: 0.75rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 2rem;
}

.sidebar-wrapper {
  background-color: #f5f5f5;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.sidebar-closed .sidebar-wrapper {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar-open .sidebar-wrapper {
  transform: translateX(0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar-toggle-button {
  display: none;
  z-index: 1100;
  font-size: 16px;
  background-color: transparent;
  color: #212121;
  padding: 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-close-button {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  color: #333;
}

@media (max-width: 768px) {
  .sidebar-toggle-button {
    width: 13px;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 1.5rem;
  }

  .page-wrapper {
    margin-left: 0;
    padding: 1rem 0.3rem;
  }

  .article-container{
    padding: 1rem;
  }
  .header-content{
    padding: 0 1rem;;
  }
  .sidebar-wrapper{
    width: 250px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  z-index: 900; 
}

@media (min-width: 769px) {
  .sidebar-wrapper {
    position: relative !important;
    transform: none !important;
    height: auto;
  }

  .sidebar-close-button{
    display: none !important;
  }
  .header-content{
    padding: 0px 1rem;
  }

  .sidebar-item.selected {
    font-weight: bold;
  }
}

.gradient-text-1 {
  background: radial-gradient(129.46% 10851.1% at 93.57% 73.33%,#25272f 38.69%,#4fa3a3 57.81%,#000 96.35%);
  background-clip: text;
  font-weight: inherit;
}

.gradient-text-1, .gradient-text-2 {
  -webkit-text-fill-color: rgba(0,0,0,0)
}

.gradient-text-2 {
  background: radial-gradient(89.23% 7478.09% at 1.8% 66.13%,#25272f 6.42%,#4fa3a3 52.73%,#000 96.35%);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: inherit;
}

.responsive-heading {
  display: grid;
  gap: 6px;
  position: relative;
  font-weight: 600; 
  font-size: 40px; 
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .responsive-heading {
    font-size: 46px;
  }
}

@media (min-width: 1024px) {
  .responsive-heading {
    font-size: 56px;
  }
}

@media (min-width: 1280px) {
  .responsive-heading {
    font-size: 60px;
  }
}

.clients {
  position: relative;
  margin-bottom: 60px;
  max-width: 92rem;
}

.clients:last-child {
  margin-bottom: 0;
}

@media (min-width: 1280px) {
  .clients {
    margin-bottom: 45px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.grid-cols-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.gap-24 {
  gap: 24px;
}

@media (min-width: 1280px) {
  .gap-30 {
    gap: 30px;
  }
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.hidden {
  display: none;
}

@media (min-width: 1280px) {
  .xl\:grid {
    display: grid;
  }
  .xl\:hidden{
    display: none;
  }
}

.mt-102 {
  margin-top: 102px;
}

.text-3xl {
  font-size: 24px;
}

.font-semibold {
  font-weight: 600;
}

.max-w-288 {
  max-width: 288px;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

@media (min-width: 1280px) {
  .xl\:col-span-8 {
    grid-column: span 8 / span 8;
  }

  .xl\:pb-54 {
    padding-bottom: 54px;
  }
}

.mb-32 {
  margin-bottom: 32px;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:gap-x-24 {
    column-gap: 24px;
  }

  .md\:gap-y-16 {
    row-gap: 16px;
  }
}

.gap-x-16 {
  column-gap: 16px;
}

@media (min-width: 640px) {
  .sm\:gap-x-20 {
    column-gap: 20px;
  }
}

@media (min-width: 1024px) {
  .lg\:gap-x-28 {
    column-gap: 28px;
  }
}

@media (min-width: 1280px) {
  .xl\:gap-x-30 {
    column-gap: 30px;
  }
}

.gap-y-14 {
  row-gap: 14px;
}
.grid{
  display: grid !important;
}
.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #fbfbfc;
  padding: 20px;
}
.clients-img{
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}